html {

	background-color: #dbd6cf;

}


a {
	color: #713754;
}

a:hover {
	color:ff3252;
}

h1, h2{
	color: #79756f;
	font-weight: normal;
	font-size: 2rem;
	line-height: 1.5;

	font-family: 'Bevan', cursive;

}
h2 {
	font-size: 1.5rem;
}

ol {
		list-style-type: none;

}

blockquote {
	font-style: italic; /* italic, normal */
	text-align: center; /* left, center, right, justify*/
	font-family: arial, sans-serif;
	font-size: 1.5rem;
}

footer {
	font-style: italic; /* italic, normal */
	text-align: right; /* left, center, right, justify*/
	font-size: 0.8rem;
	font-family: arial, sans-serif;
	color: #79757c;
}

p {
	font-style: normal; /* italic, normal */
	text-align: left; /* left, center, right, justify*/
	font-family: arial, sans-serif;
}

b {
	font-style: normal; /* italic, normal */
	text-align: center; /* left, center, right, justify*/
	font-family: arial, sans-serif;
	color:#79757c;
}

.quote {
	font-style: italic; /* italic, normal */
	text-align: center; /* left, center, right, justify*/
	font-family: arial, sans-serif;
	font-size: 1.5rem;
